.overview-canvas-container{
    touch-action: none;
    border: 1px solid #EBEBEB;
    display: flex;
    align-content: center;
}

.main-canvas-container{
    display: flex;
    align-content: center;
    margin-bottom: 30px;
}

.invisible-chart-area-right{
    display: flex;
    background-color: #EBEBEB;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    right: 1rem;
}

.invisible-chart-area-left{
    display: flex;
    background-color: #EBEBEB;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    left: 1rem;
}

.visible-chart-area {
    display: flex;
    border: 2px solid #7B9EA8;
    border-right-width: 15px;
    border-left-width: 15px;
    height: 100%;
    position: absolute;
    opacity: 0.5;
    cursor: pointer;
}
