.mode {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-sizing: content-box;
}

.mode.day {
    background-color: #FFFFFF;
}

.mode.night {
    background-color: #293340;
}

*, ::after, ::before {
    box-sizing: content-box;
}

.chart-container {
    width: 95%;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
}

.chart-page-container {
    width: 95%;
    max-width: 1200px;
    align-content: center;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
}

.switch-mode-container {
    align-content: center;
    background-color: #FFFFFF;
    text-align: center;
    display: inline-block;
    font-size: 1.25rem;
    padding: 4rem;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: 1px solid #DDDDDD;
}

.switch-mode-container.night {
    background-color: #293340;
}

.switch-mode-button {
    text-align: center;
    display: inline-block;
    font-size: 3.5rem;
    padding: .5rem .5rem 1.1rem;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
}
